.weak-password {
    background-color: red;
}

.average-password {
    background-color: orange;
}

.strong-password {
    background-color: forestgreen;
}

.progress-bar {
    border-radius: 20px;
}

.password-strength-container {
    width: 500px;
    height: 25px;
    border-radius: 20px;
    flex-shrink: 0;
}

.weak-color{
    color:red;
}

.average-color{
    color:orange;
}


.strong-color{
    color:forestgreen;
}

